.wrapper {
	margin-top: 180px;
	margin-bottom: 80px;
}

.main-div {
	max-width: 380px;
	padding: 45px 35px 45px;
	margin: 0 auto;
	background: transparent;
	border: #ddd solid 1px;
	color: #4d4d4d;
	font-size: 16px;
	text-align: center;
}

.main-div a {
color: #99CA3C;
font-weight: bold;
}