html {
	background: url(../../img/background/Article_Yoga_F_03.jpg) no-repeat
		center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	padding: 0;
	background: transparent;
}