.wrapper {
	margin-top: 180px;
	margin-bottom: 80px;
}

.submit-btn {
	background: #4d4d4d;
	border: none;
	outline: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	text-shadow: none;
	font-weight: lighter;
}

.submit-btn:hover,.submit-btn:focus,.submit-btn:active {
	background: #4d4d4d;
	border: none;
	outline: none;
}

.form-signin {
	max-width: 380px;
	padding: 45px 35px 45px;
	margin: 0 auto;
	background: transparent;
	border: none;
}

.form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	@
	include
	box-sizing(border-box);
	&:
	focus
	{
	z-index
	:
	2;
}

}
input[type="text"] {
	margin-bottom: 20px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

input[type="text"]:focus {
	box-shadow: none;
	-webkit-box-shadow: none;
	border-color: #99CA3C;
}

input[type="password"] {
	margin-bottom: 20px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

input[type="password"]:focus {
	box-shadow: none;
	-webkit-box-shadow: none;
	border-color: #99CA3C;
}