@charset "UTF-8";
/* CSS Document */

.container-fluid-ext
{
padding:0px; 
margin:0px; 
background-color:#F9F9F9;"
	}
		
.gridlines {
border: #F9F9F9 solid 1px;
margin:0px;
padding:0px;
padding-left:10px;
	}

/*navbar*/

.topnav-container{
border-bottom: #d65c35 solid 1px;
height: 50px;
border-radius: none;
	}	
	
.topnav{
height:44px;
background-color:white;
border-bottom: #d65c35 solid 1px;
margin:0px;
padding:0px;
	}	
.beat-brand{
height:44px; 
background-color:#d65c35; 
padding:0px; 
margin:0px;
	}
	
#brand-text{
font-family: 'Lato', sans-serif;
font-weight:400;
font-size:30px;
color:#fff;
text-align:center;
text-shadow:none;
letter-spacing: 2px;
	}	

	
#version-text{
font-family: 'Lato', sans-serif;
font-weight:200;
font-size:14px;
color:#fff;
text-align:left;
text-shadow:none;
letter-spacing:2px;
padding-top:19px;
padding-left:6px;
font-style:italic
	}	
	
	#top-nav-name{
font-weight:400;
font-size:14px;
color:#d65c35;
text-shadow:none;
letter-spacing:2px;
padding-top:10px;
padding-left:6px;
font-style:bold;
text-align:right;
	}
/*timebar*/

.timebar{
height:44px;
background-color:white;
margin:0px;
padding:0px;
	}
.timebar-ext{	
border-top: #d65c35 solid 1px;
height: 50px;
margin-top: 3px;
padding-top: 0px;
margin-bottom: -9px;
border-radius: none;
-webkit-box-shadow: 0px 0px 4px 1px rgba(179, 179, 179, .12);
         box-shadow: 0px 0px 4px 1px rgba(179, 179, 179, .12);
}	

.btn-row{
padding-left:100px; 
padding-top:4px;	
	}

.btn-timeline{
border-radius:0px; 
border:#d65c35 solid 1px; 
height:36px; 
background-color:transparent;
color:#d65c35; 
font-family:'Lato', sans-serif; 
font-weight:600;
font-size:22px; 
text-shadow:none;
padding-top:4px;
	}

/*sidebar*/
.sidebar{
    background-color: #fff;
    position: absolute;
    margin-top: 110px;
    width: 90px;
    top: 0;
    right:0;
    bottom: 0;
    left:0;
    height: 100%;
	-webkit-box-shadow: 0px 0px 4px 1px rgba(179, 179, 179, .12);
         box-shadow: 0px 0px 4px 1px rgba(179, 179, 179, .12);
}
	
.nav-pills>li.active>a:after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 12px 11px 12px 0;
    border-color: transparent #FCF1EE;
   
    display: block;
    width: 0;
    z-index: 1;
    margin-left: 65px;
    top: 28px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
    background-color: #E7A088;
    color: black;
	border-radius:0px;
}	

.nav-pills>li>a:focus,.nav-pills>li>a:hover{
    background-color: #F5D6CC;
    color: black;
	border-radius:0px;
}

/*pageheader*/ 
.page-header {
padding-bottom:20px;
margin-top:20px;
border-bottom:1px solid #4d4d4d;
}

.txt-header
{
font-family: 'Lato', sans-serif;
font-weight:400;
font-size:20px;
color:#D65C35;
text-height:60px;
text-transform:uppercase;	
width:400px;
}
	
/*main content*/	


.rowbox{
height:50px;  
padding-top:10px;
padding-left:0px;
padding-right:0px;
	}
	
.rowboxoutline{
height:52px;  
padding-top:15px;
padding-left:0px;
padding-right:0px;
padding-bottom:0px; 
margin-left:0px;
margin-right:0px; 
margin-top:0px;
margin-bottom:10px;
border:#ffdab9 solid 3px;
background-color:white;
	}	

.headerbox {
height:50px; 
box-shadow: 1px 1px 3px #888888;
background-color: #d65c35; 
border:white solid 3px; 
padding-top:10px;
	}	
.subheaderp {
color:white; 
size:10px;
word-spacing:45px; 
text-shadow:none;
padding-left:10px;
	}
	
.textp {
color:black; 
size:10px; 
text-shadow:none;
padding-left:10px;
	}
	
.orangecol{
background-color: orange;
	}	
	
.peachcol{
background-color: #ffdab9;
	}
	
.greycol{
background-color: grey;
	}	
	
.bootcolstyle	{
height:52px; 
margin-bottom:10px;
padding-left: 0px;
padding-right: 0px;
margin-left: 0px;
margin-right: 0px;
}
	
.customp {
font-size:18px; 
color:Black; 
font-weight:500; 
text-align:center; 
text-shadow:none;
	}	
	
.listp{
font-size:18px; 
color:purple; 
font-weight:500; 
text-align:left; 
text-shadow:none;"
	}
	
.greencol{
background-color: green;
	}
	
.yellowcol{
background-color: yellow;
	}
	
.redcol{
background-color: red;
	}

.bluecol{
	background-color: lightblue;
}
	
	
	
	
	
	
	
	
	
	
	
	
