/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 7, 2014, 2:00:49 PM
    Author     : kiana.baradaran
*/
.member-page-core-data {
	margin-top: -1%;
	margin-left: 9%;
	margin-right: 0.5%;
}

#corporate_location_drop_down li a {
	text-decoration: none;
	color: #4d4d4d;
}

.green-text-bold {
	color: #99CA3C;
	font-weight: bold;
	font-size: 17px;
}

.green-text {
	color: #99CA3C;
	font-size: 17px;
}

.light-grey-text {
	color: #b3b3b3;
	font-weight: bold;
	font-size: 16px;
}

.dark-grey-text {
	color: #4d4d4d;
	font-size: 16px;
}

.member-individual-title {
	height: 38px;
	line-height: 38px;
	font-size: 16px;
}

.member-individual-info {
	height: 38px;
	line-height: 38px;
	font-size: 17px;
	color: #4d4d4d;
	white-space: nowrap;
}

.member-individual-info-top-box {
	line-height: 46px;
	font-size: 17px;
	color: #4d4d4d;
	white-space: nowrap;
}

.member-name {
	height: 18px;
	line-height: 18px;
	font-size: 18px;
	color: #99CA3C;
	font-weight: bold;
	text-decoration: none;
}

.in-club-status {
	text-align: center;
	color: white;
	font-size: 17px;
	line-height: 35px;
	font-weight: bold;
	text-shadow: none;
	z-index: 1;
	width: 55px;
	height: 35px;
	position: absolute;
	top: 145px;
	left: 15px;
}

.btn-notepad,.btn-offer {
	width: 100%;
	height: 60px;
	background-color: #4D4D4D;
	font-size: 18px;
	border: none;
	text-shadow: none;
	color: white;
}

.btn-notepad:hover,.btn-offer:hover {
	background-color: #4D4D4D;
	border-color: #4D4D4D;
	color: white;
}

.member-individual-icon-caption {
	color: #4D4D4D;
	text-align: center;
	font-size: 14px;
	text-shadow: none;
	height: 24px;
	line-height: 15px;
}

.member-individual-checkbox-caption {
	color: #4D4D4D;
	text-align: left;
	font-size: 12px;
	text-shadow: none;
	height: 24px;
	line-height: 24px;
	padding-left:5px;
}

.member-page-interception-checkbox-text-container {
	text-align: left;
	margin: 0;
	padding-left: 3px;
	padding-right: 0;
}

.member-individual-offer-limit {
	margin-top: 7px;
	margin-bottom: 3px;
	text-align: center;
	text-shadow: none;
	font-size: 16px;
	line-height: 30px;
	width: 60px;
	height: 35px;
	color: #99CA3C;
	font-weight: bold;
	border: dashed #b3b3b3 2px;
	display: inline-block;
}

.member_page_risk_value_icon_caption {
	line-height: 26.5px;
	background-color: transparent;
	height: 26.5px;
	line-height: 15px;
	font-size: 17px;
	text-shadow: none;
	text-align: center;
}

.member-individual-bolt-icon {
	height: 38px;
	line-height: 38px;
	text-align: center;
}

#member_individual_action_list li {
	font-size: 17px;
	color: #4d4d4d;
	line-height: 40px;
}

#member_individual_action_list li b {
	color: #99CC33;
}

#member_individual_action_list {
	overflow-y: auto;
	height: 170px;
}

.interest-title {
	height: 100px;
	line-height: 100px;
	display: table-cell;
	text-align: center;
}

.interest-title span {
	line-height: normal;
	display: inline-block;
	vertical-align: middle;
	font-size: 17px;
	color: #4d4d4d;
	overflow-wrap: break-word;
	text-align: center;
}

.interest-icon {
	height: 100px;
	line-height: 100px;
	display: table-cell;
	text-align: center;
}

.interest-icon span {
	line-height: normal;
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	color: #4d4d4d;
	overflow-wrap: break-word;
	text-align: center;
}