/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 21, 2014, 1:47:59 PM
    Author     : rana.kh-jeffery
*/


#note-header{
   display: inline-block; 
}

#note-current-date{
   display: inline-block; 
   float: right;
}

#notepad-views-buttons-group{
    margin-bottom: 3%;
    margin-top: 7%;
}

#nav-note-pad-static-top{
    min-width: 720px;
}

.main-content-old-notes{
    margin-bottom: 2%;
    border: #CCC 1px solid;
    border-radius: 5px;
    background-color: white;
    
}

.main-content-old-notes:hover{
    cursor: pointer;
    background-color: #CCC;
}

/*#notepad-insert-and-view-div{
    margin-left: -3%;

}*/


#notepad_post_content:focus{
    border-color: #99CC33;
    
}

#notepad_post_button , #clear_search_note{
     background-color: #4d4d4d; color:white; border: none;
  
}
#notepad_post_button:active{
    background-color: #99CC33;
}

#notepad-views-search-field{

    border-bottom: #b3b3b3 1px solid;

    border-radius: 0px;

    border-top: none;

    border-left: none;

    border-right: none;
    
    box-shadow :none;

}
#notepad-views-search-field:focus{
    border-color: #99CC33;
}
.notesDiv {
font-size: 15px;
border-color: #dddddd;
border-top-style: none;
border-right-style: none;
border-bottom-style: solid;
border-left-style: none;
padding-bottom: 10px;
margin-bottom: 5px;
margin-top: 5px;
}

.highlight{
	background-color:yellow;
}
