/* 
    Document   : trace
    Created on : Dec 19, 2013, 1:23:50 PM
    Author     : kiana.baradaran
    Description:
        Purpose of the stylesheet follows.
*/


/*     Large desktop 
    @media (min-width: 1200px) {  }
     
     Portrait tablet to landscape and desktop 
    @media (min-width: 768px) and (max-width: 979px) {  }
     
     Landscape phone to portrait tablet 
    @media (max-width: 767px) { }
     
     Landscape phones and down 
    @media (max-width: 480px) {  }*/


.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('layout/img/loader/ajax-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}



body{
    -webkit-user-select: none;

}


#LTframe{
    -webkit-transform: scale(1);
    width: 100%;
    height: 100%;
}


#login-main-div{
    width:300px;
    height:230px;
    background: transparent;
    position:fixed;
    left:60%;
    top:35%; 
}

.animating{
    -webkit-animation: animate 1s cubic-bezier(0,1,1,0);
    -moz-animation: animate 1s cubic-bezier(0,1,1,0);
    -ms-animation: animate 1s cubic-bezier(0,1,1,0);
    -o-animation: animate 1s cubic-bezier(0,1,1,0);
    animation: animate 1s cubic-bezier(0,1,1,0);			
}

@-webkit-keyframes animate{
    from {
        -webkit-transform: scale(1);
    }
    to {
        -webkit-transform: scale(1.7);
    }
}

@-moz-keyframes animate{
    from {
        -moz-transform: scale(1);
    }
    to {
        -moz-transform: scale(1.7);
    }
}

@-ms-keyframes animate{
    from {
        -ms-transform: scale(1);
    }
    to {
        -ms-transform: scale(1.7);
    }
}

@-o-keyframes animate{
    from {
        -o-transform: scale(1);
    }
    to {
        -o-transform: scale(1.7);
    }
}

@keyframes animate{
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.7);
    }
}


.refresh_button{}
.logout_button{}
.countdown_timer{}

.right_side_content_close_button{
    font-size: 18px;
    text-shadow: none;
}
.programs{}
.education{}
.surprises{}
.member-pesonal-information-details{}
.side-main-nav-bar{}
.floorpage_count{}
.year-summary-questions-rows{}
.family_locker_room_club_cleanliness_month, .family_locker_room_club_cleanliness_week{}
.family_locker_room_club_cleanliness_week-progress-legend, .family_locker_room_club_cleanliness_week-data{}
.women_locker_room_club_cleanliness_week-progress-legend, .women_locker_room_club_cleanliness_week-data{}
.member_satisfaction_week-progress-legend,.member_satisfaction_week-data{}
.member_satisfaction_month,.member_satisfaction_week{}
.staff_attitude_month, .staff_attitude_week{}
.staff_attitude_week-progress-legend,.staff_attitude_week-data{}
.club_cleanliness_month,.club_cleanliness_week{}
.club_cleanliness_week-progress-legend,.club_cleanliness_week-data{}
.progress-bars-data{}
.member_feedback_progress_bars_header{
    /*    font-weight: lighter;*/
}
.men_locker_room_club_cleanliness_week-progress-legend,.men_locker_room_club_cleanliness_week-data{}
.women_locker_room_club_cleanliness_month,.women_locker_room_club_cleanliness_week{}
.men_locker_room_club_cleanliness_month,.men_locker_room_club_cleanliness_week{}
.group_fitness_staff_attitude_week-progress-legend,.group_fitness_staff_attitude_week-data{}
.pool_member_satisfaction_month,.pool_member_satisfaction_week{}
.workout_floor_member_satisfaction_week-progress-legend,.workout_floor_member_satisfaction_week-data{}
.group_fitness_club_cleanliness_week-progress-legend,.group_fitness_club_cleanliness_week-data{}
.group_fitness_member_satisfaction_week-progress-legend,.group_fitness_member_satisfaction_week-data{}
.group_fitness_member_satisfaction_month,.group_fitness_member_satisfaction_week{}
.pool_club_cleanliness_month,.pool_club_cleanliness_week,.pool_staff_attitude_month,.pool_staff_attitude_week{}
.pool_staff_attitude_week-progress-legend,.pool_staff_attitude_week-data{}
.group_fitness_club_cleanliness_month,.group_fitness_club_cleanliness_week,.group_fitness_staff_attitude_month,.group_fitness_staff_attitude_week{}
.workout_floor_member_satisfaction_month,.workout_floor_member_satisfaction_week{}
.workout_floor_club_cleanliness_month,.workout_floor_club_cleanliness_week{} 
.workout_floor_club_cleanliness_week-progress-legend,.workout_floor_club_cleanliness_week-data{}
.workout_floor_staff_attitude_week-progress-legend,.workout_floor_staff_attitude_week-data{}
.workout_floor_staff_attitude_month,.workout_floor_staff_attitude_week{}
.workout_floor_member_staff_attitude-progress-legend,.workout_floor_staff_attitude_week-data{}
.pool_club_cleanliness_week-progress-legend,.pool_club_cleanliness_week-data{}
.pool_member_satisfaction_week-progress-legend,.pool_member_satisfaction_week-data{}


.memberpulsepage_button_bar {
    margin-top: 2%;
    padding-bottom: 10px;
}

.memberpulsepage_member_table_container{ 
    top:25px;
}

#memberpulsepage_member_table td,#searchpage_member_table td{
    border-bottom: 1px solid #b2b2b2;
    height: 45px;
    line-height: 30px;
}

#memberpulsepage_member_table th, #searchpage_member_table th{
    border-right: 1px solid white;   
    background-color: #4D4D4D !important;
    color: white !important;
    padding-right: 15px;
    padding-left: 5px;
    text-shadow:  none;
    text-align: center;
    font-weight: lighter;
    vertical-align: middle;
    line-height: 15px;
    font-size: 13px;
}



#searchpage_member_table th:nth-child(3),#searchpage_member_table th:nth-child(7),#searchpage_member_table th:nth-child(9),#searchpage_member_table th:nth-child(6){
    width: 10%;
}

#searchpage_member_table th:nth-child(4),#searchpage_member_table th:nth-child(5){
    width: 15%;
}

#searchpage_member_table td{
    border-left: 1px solid #dddddd; 
    border-right: 1px solid #dddddd; 
}

#searchpage_member_table th:nth-child(1), #searchpage_member_table th:nth-child(2), #searchpage_member_table th:nth-child(8){
    width: 5%;
}

#searchpage_member_table th:nth-child(10), #searchpage_member_table th:nth-child(11), #searchpage_member_table th:nth-child(12){
    width: 5%;
}

 #memberpulsepage_member_table th:nth-child(11){
    padding-right: 5px;
}

 #memberpulsepage_member_table th:nth-child(4){
    width: 32%; 
}

#memberpulsepage_member_table td{

    border-left: 1px solid #dddddd; 
    border-right: 1px solid #dddddd; 

}

.memberpulsepage_button_bar_table{
    width: 100%;
}
.memberpulsepage_button_bar_table td, .floorpage_filter_bar_table td{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}
#search_page_go_button:active,#search_page_clear_button:active{
    background-color: #99CA3C !important;
} 

.memberpulsepage_button_bar_table .btn-group > .btn.active ,.floorpage_filter_bar_table .btn-group > .btn.active{
    z-index: 2;
    background-color: #99CA3C !important;
    color: #4D4D4D;
}

.floorpage_filter_bar{
    position: absolute !important;
    margin-top: 2%;
 margin-left: 3%;
    width: 100%;
}

.floorpage_filter_bar td{
    padding-right: 20px;
}

.top-layer{
    margin-top: -2%;
}


#floorpage_count_table>tbody>tr>td{

    font-size: 15px;
}

#floorpage_count{
    position: absolute !important;
 margin-left: 3%;
    margin-top: 11%;
}

#floorpage_count th{
    text-align: center;
    font-size: 14pt;
    font-weight: lighter;

}

#floorpage_count td{
    /*    text-align: center;*/
    font-size: 12pt;
    vertical-align: middle;
    padding: 0;

}


#member-feedback-aggregation-update{
    color: white;
    background-color: #4d4d4d;
    border: none;
    float: right;
}

.page_name_text{
    color: white !important;
    text-shadow: none;
    font-weight: lighter;
    font-size: 20px !important;

}


#floorpage_filter_bar_timestamp{
    width:200px;
    height:35px;
    margin-left: -30px; 
    background-color:  #98C93C; 
    color:white; 
    text-shadow: none; 
    padding: 8px 10px 5px 10px;
    font-size: 15px;
}


#floorpage_filter_bar_total_swipes{
    width:240px;
    height:35px;
    margin-left: 308px; 
    background-color:  #98C93C; 
    color:white; 
    text-shadow: none; 
    padding: 8px 10px 5px 10px;
    font-size: 15px;
}


#member-feedback-aggregation-location-menu li:nth-child(1), #member-feedback-aggregation-interval-menu li:nth-child(1){
    background-color: #dddddd;
}


#summary-year-questions-table th, #summary-year-questions-table th a{
    text-decoration: none;
    font-weight: lighter;
    color: #4d4d4d;
    line-height: 30px;
    font-size: 12px;
    height: 40px;

}

#summary-year-questions-table tr:nth-child(1) th{
    text-decoration: none;
    font-weight: lighter;
    color: #4d4d4d;
    line-height: 15px;
    font-size: 12px;
    height: 40px;
    width: 20px;
    padding-top: -8%;
    text-shadow: none;

}

#summary-year-questions-table tr:nth-child(1) th:nth-child(13){
    background-color: #99CA3C;

}


#summary-year-questions-table tr:nth-child(1) th:nth-child(1){
    width: 40%;
    background-color: white;
    padding-right: 5px;
    padding-left: 5px;
}

#summary-year-questions-table td:nth-child(1){
    background-color: white;
}


#summary-year-questions-table td{
    background-color: #b2b2b2;
    height: 35px;

}

.member-feedback-detailed-table{}

#summary-year-questions-table th:nth-child(1){
    text-align: left;
}

.attrition_projection_arrow_div{
    display: inline-block;
    width: 5px;
}

.attrition_projection_arrow_icon{
    margin-top: -20px;

}

.filterinput{

    margin-top: 5.7%;

    height: 35px;

    display: inline-block;

    width: 187%;

}

#notepad-views-search-field{

    border-bottom: #b3b3b3 1px solid;

    border-radius: 0px;

    border-top: none;

    border-left: none;

    border-right: none;

}

.search_page_input_field{
    border-bottom: #b3b3b3 1px solid;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border-top: none;

    border-left: none;

    border-right: none;
    font-size: medium

}

#search_page_input_field_3{
    width: 140px;
}

#searchpage_member_table_processing {
    background: transparent;
    border: none;

}


#memberpulsepage_member_table_processing {
    background: transparent;
    border: none;
    position: absolute;
    left: 130px;
    top: -80px;
    width: 10px;
    

}


.search_page_input_field:focus,.search_page_input_field:active{
    border-bottom: #99CA3C 1px solid;
}



.search_page_input_field:focus::-webkit-input-placeholder { /* WebKit browsers */
    color:    #99CA3C;
}
.search_page_input_field:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #99CA3C;
}
.search_page_input_field:focus::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #99CA3C;
}
.search_page_input_field:focus:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #99CA3C;
}

.analytics-table-header-row-1{
    height: 50px;
    line-height: 50px;
    background-color:#99CA3C;
    color: white;
    text-align: left;
    font-size: 16px;
    text-shadow: none;
}
.analytics-table-header-row-2{
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    /*    background-color:#99CA3C;*/
    color: #4d4d4d;
    text-align: left;
    font-size: medium;
    text-shadow: none;
}





.analytics-club-dashboard-table tr td:nth-child(1){
    width: 22%;
    line-height: 55px;
    text-align: left;
    font-weight: bold;

}

.analytics-club-dashboard-table tr td:nth-child(2), .analytics-club-dashboard-table tr td:nth-child(3),.analytics-club-dashboard-table tr td:nth-child(4){
    line-height: 55px;
    text-align: center;
    width: 13%;
}
.analytics-club-dashboard-table tr td:nth-child(5), .analytics-club-dashboard-table tr td:nth-child(6),.analytics-club-dashboard-table tr td:nth-child(7){
    line-height: 55px;
    text-align: center;
    width: 13%;
}

.analytics-club-dashboard-table tr:nth-child(1) th{
    background-color:    #99CA3C;
        text-shadow: none;

    height: 70px;
    font-size: 16px;
    color: white;
/*    border-bottom: none;*/
    text-align: left;
    line-height: 50px;

}

.analytics-club-dashboard-table tr:nth-child(2) th:nth-child(1){
    width: 28%;

}
.analytics-club-dashboard-table tr:nth-child(2) th:nth-child(1), .analytics-club-dashboard-table tr:nth-child(2) th:nth-child(4){
    border-right:1px solid #ddd;

}

.analytics-club-dashboard-table tr:nth-child(2) th{
    height: 30px;
    color: #4d4d4d;
    text-shadow: none;
/*    border-top:none;*/
    border-right:none;
    border-left: none;

    width: 12%;
    font-weight: lighter;
}

.analytics-club-dashboard-table td{
    height: 75px;
    font-size: 16px;

    color: #4d4d4d;

}

#notepad-write-new-note-button, #notepad-view-current-list-button{

    border-radius: 0px;

}


#notepad-write-new-note-button.active, #notepad-view-current-list-button.active{
    background-color: #99CA3C;
    border-radius: 0px;

}


#notepad-write-new-note-button:hover{



    background-color: #99CA3C;

    border-color: #99CA3C;

    border-radius: 0px;     

}


#notepad-view-current-list-button:hover{

    background-color: #99CA3C;

    border-color: #99CA3C;

    border-radius: 0px; 

}


.btn .btn-notepad-list-view:hover{

    color: #333;

    background-color: #99CA3C;

    border-color: #99CA3C;

    border: 1px solid transparent;

    border-radius: 4px;

}



.user_name_text{

    color: white !important;
    text-shadow: none;

    padding-top: 1%;

    font-size: 14px !important;  
}

.nav_action_icon{

    padding-top: 4%;
}

.navbar-collapse >ul >li> a:focus{
    background: #4D4D4D;
}

.navbar-collapse >ul >li> a:hover{
    background: #4D4D4D;
}

.navbar-collapse >ul >li> a:active{
    background: #4D4D4D;
}


.navbar_date_time_field{
    color: white !important;
    text-shadow: none;

    margin-top: 4%;

    font-size: 14px !important;  
}

.bubble{
    text-shadow: none;
    font-weight: lighter;
    color:white;
    text-align: center;
    line-height: 30px;
    position: relative;
    width: 120px;
    height: 30px;
    padding: 0px;
    background: #4d4d4d;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.bubble:after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 6px 7px 6px 0;
    border-color: transparent #4d4d4d;
    display: block;
    width: 0;
    z-index: 1;
    left: -7px;
    top: 9px;
}

.small_bubble{
    line-height: 35px;  
    font-weight: lighter;
    color:#4d4d4d;
    text-align: center;
    position: relative;
    text-shadow: none;
    width: 35px;
    height: 35px;
    padding: 0px;
    background: #999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.small_bubble:after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 6px 7px 6px 0;
    border-color: transparent #999;
    display: block;
    width: 0;
    z-index: 1;
    left: -6px;
    top: 11px;
}

.btn-floor-div{
    vertical-align: middle;
    height: 60px;
} 



.btn-floor{

    margin-top: 12%;
}



#floorpage_count_floor_1_table td:nth-child(3), #floorpage_count_floor_2_table td:nth-child(3){
    font-weight: bold;
}
#floorpage_count_floor_1_table th:nth-child(1){
    width: 30%;
}
#floorpage_count_floor_1_table th:nth-child(2){
    width: 50%;
}
#floorpage_count_floor_1_table th:nth-child(3){
    width: 20%;
}
#floorpage_count_floor_1_table td:nth-child(1){
    width: 30%;
}
#floorpage_count_floor_1_table td:nth-child(2){
    width: 50%;
}
#floorpage_count_floor_1_table td:nth-child(3){
    width: 20%;
}
#floorpage_count_floor_2_table th:nth-child(1){
    width: 30%;
}
#floorpage_count_floor_2_table th:nth-child(2){
    width: 50%;
}
#floorpage_count_floor_2_table th:nth-child(3){
    width: 20%;
}
#floorpage_count_floor_2_table td:nth-child(1){
    width: 30%;
}
#floorpage_count_floor_2_table td:nth-child(2){
    width: 50%;
}
#floorpage_count_floor_2_table td:nth-child(3){
    width: 20%;
}


.sharp-edge{
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

#reg_history_div{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}


#reg_history_div img{
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: -5%;

}
#conversation_topic_div{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}


#conversation_topic_div img{
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: -5%;  
    margin-bottom: 0;
}



.search_page_search_bar{

    margin-top: 2.5%;
}

.search_page_search_bar .btn-group > .btn.active ,.floorpage_filter_bar_table .btn-group > .btn.active{
    z-index: 2;
    background-color: #99CA3C !important;
    color: #4D4D4D;
}