/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 16, 2014, 5:17:12 PM
    Author     : yanchao.wang
*/
@media (min-width: 768px) {
    .login_background{
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}


.login_label {
    font-size: Medium;
    position: relative;
    top: 10px;
    color: #999;
}

.login_fields_set {
    position: relative;
    top: 20px;
}

.login_fds {
    text-align: center;
    height: 500px;
}

.login_feildtest{
    width: 30%;
    height: 60%;
    position: relative;
    top: 36%;
    left: 60%; 

}

/*#language-options{
    height: 40px;
}*/

#loginbtn{
    text-align: center;
    /*opacity: 0.9;*/
    /*margin-bottom: 15px;*/
    /*line-height: 40px;*/

}
#login_feildtest .ui-corner-all{
    border-radius: 0;

}

#login_feildtest .ui-input-text, #login_feildtest .ui-input-text,#login_feildtest .ui-select {
    width: 100% !important;       /* used to be width: 97%; */
    /* add box sizing so padding is included in width */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0.9;
    line-height: 40px;
    font-size: 20px;
}
}
@media (min-width: 320px) and (max-width: 600px){

    /*overwrite jquery-mobile css*/
 .ui-field-contain, fieldset.ui-field-contai{
    padding: 0.2em 0;
}
.ui-btn-inner{
padding-top:1px;
padding-left: 0px;
padding-right: 0px; 
font-size: 8px;
}
  
.ui-select .ui-btn-icon-right .ui-btn-inner{
    padding-right:5px;
    padding-top:4px;
    padding-bottom: 7px;
}
.ui-select .ui-btn-text, .ui-selectmenu .ui-btn-text{
    
    overflow: visible !important;
}
.ui-btn-icon-right>.ui-btn-inner>.ui-icon{
    
    margin-top: -4px;
}
.ui-select .ui-btn-icon-right .ui-icon{
    right:4px;
}
.ui-icon{
width:7px;
height:7px;
}
.ui-icon-arrow-d{
    background-position: -100px 50%;
    background-size: 400px 7px;
}
/**/
.login_background{
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


.login_label {
    font-size: Medium;
    position: relative;
    top: 10px;
    color: #999;
}

.login_fields_set {
    position: relative;
    top: 20px;
}

.login_fds {
    text-align: center;
    height: 500px;
}

.login_feildtest{
    width: 30%;
    height: 60%;
    position: relative;
    top: 36%;
    left: 60%; 

}

/*#language-options{
    height: 40px;
}*/

#loginbtn{
    text-align: center;
    margin-top: -2px;
    /*opacity: 0.9;*/
    /*margin-bottom: 15px;*/
    /*line-height: 40px;*/

}
#login_feildtest .ui-corner-all{
    border-radius: 0;

}

#login_feildtest .ui-input-text, #login_feildtest .ui-input-text,#login_feildtest .ui-select {
    width: 100% !important;       /* used to be width: 97%; */
    /* add box sizing so padding is included in width */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0.9;
    line-height: 10px;
    font-size: 8px;
}
}