/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 16, 2014, 4:46:50 PM
    Author     : yanchao.wang
*/



@media (min-width: 768px) {

    #page_header span{
        color: #d85c35;
        font-weight: bolder;
        font-size: 25px;

    }

    span.glyphicon.glyphicon-log-out{

        font-size: 25px;
    }
    #page_header{
        color: #d85c35;
        font-size: 25px;
        height: 70px;
        line-height: 60px;
    }


    #retention_overview_termination_table th{
        background-color: #d85c35;
        border: #ddd solid 1px;   
        color:  #fff;
        text-align: center;
        text-shadow: none;


    }

    #retention_overview_termination_table tr:nth-child(2) th:nth-child(5){
        border-right-color: #d85c35; 
    }

    #retention_overview_termination_table tr:nth-child(2) th:nth-child(1){
        border-left-color: #d85c35; 
    }

    #retention_overview_termination_table tr:nth-child(1) th{
        border-color: #d85c35;
        border-bottom: #ddd solid 1px;
        text-align: left;
        font-size: large;
    }

    #retention_overview_termination_table td{
        border-color: #d85c35;
        vertical-align: middle;
        text-align: center;
        text-shadow: none;
        color: #000;
        width: 15%;

    }

    #retention_overview_termination_table td:nth-child(1){
        width: 30%;
    }
    #retention_overview_traffic_table th{
        background-color: #d85c35;
        border-left: #fff 1px solid;
        text-align: center;
        color:  #fff;
        text-shadow: none;
    }

    #retention_overview_traffic_table td{
        border-left: #fff 1px solid;
        vertical-align: middle;
        width: 15%;
        text-shadow: none;
        text-align: center;
        color: #000;



    }

    #retention_overview_traffic_table tr:nth-child(1) th{
        background-color: #d85c35;
        border-left: #fff 1px solid;
        text-align: left;
        color:  #fff;
        font-weight: bold;
        font-size: large;
    }


    #retention_overview_action_table th{
        background-color: #d85c35;
        border-left: #fff 1px solid;
        text-align: left;
        color:  #fff;
        text-shadow: none;

    }

    .bolder-text{
        font-weight: bold;
        font-size: large;
    }

    #retention_overview_traffic_table tr:nth-child(even){
        background-color: #F4CEC3;
    }

    #retention_overview_action_table tr:nth-child(even){
        background-color: #F4CEC3;
    }

    #retention_overview_action_table td:nth-child(1) img, #retention_overview_traffic_table td:nth-child(1) img{
        width: 30px;
        height: 30px;
    }

    #retention_overview_traffic_table td:nth-child(1),#retention_overview_action_table td:nth-child(1){
        border-left: none;
        text-align: center;
        width: 7%;
    }

    #retention_overview_traffic_table td:nth-child(2),#retention_overview_action_table td:nth-child(2){
        width: 23%;
        text-align: left;

    }





    #retention_overview_action_table td{
        border-left: #fff 1px solid;
        vertical-align: middle;
        width: 15%;
        text-shadow: none;
        text-align: center;
        color: #000;


    }



    #survey_overview_assistance_table td,#survey_overview_satisfaction_table td{
        text-shadow: none;
        text-align: center;

        border-color: #d85c35;
        line-height: 50px;

    }

    #survey_overview_assistance_table td:nth-child(1),#survey_overview_satisfaction_table td:nth-child(1){

        text-align: center;
        width: 5%;

    }


    #survey_overview_assistance_table td:nth-child(2),#survey_overview_satisfaction_table td:nth-child(2){
        text-align: left;

        width: 25%;

    }

    #survey_overview_assistance_table td,#survey_overview_satisfaction_table td{

        width: 15%;

    }

    #survey_overview_assistance_table td img,#survey_overview_satisfaction_table td img{

        height: 35px;   

    }





    #survey_overview_assistance_table th,#survey_overview_satisfaction_table th,#survey_overview_notes_table th{

        background-color: #d85c35;
        border-color: #d85c35;
        color:  #fff;
        text-align: center;
        text-shadow: none;
        font-size: large
    }

    #survey_overview_notes_table td{

        border-color: #d85c35;
        font-size: medium;
        color: #000;
        text-shadow: none;

    }

    /*#survey_overview_total_assistance_table tr:nth-child(1) td:nth-child(1){
        color: #ef402f;
        line-height: 30px;
    }*/

    #survey_overview_total_assistance_table td:nth-child(1){
        color: #ef402f;
        width: 30%;
        text-align: left;

    }

    #survey_overview_total_comments_table td:nth-child(1){
        color:#32cbff;
        width: 30%;
        text-align: left;


    }


    #survey_overview_total_survey_table td:nth-child(1){
        color: #28a446;
        width: 30%;
        text-align: left;

    }




    /*#survey_overview_total_assistance_table td:nth-child(2){
        width: 35%; 
        background-color: #ef402f;
    }
    
    #survey_overview_total_comments_table td:nth-child(2){
        width: 35%; 
        background-color:#32cbff;
    
    }
    
    
    #survey_overview_total_survey_table td:nth-child(2){
        width: 35%; 
        background-color: #28a446;
    }*/

    #survey_overview_total_assistance_table td{
        border-color: #ef402f;
        /*    font-size: medium;*/
        color: #000;
        height: 80px;
        line-height: 65px;
        text-shadow: none;
        width: 15%;
        text-align: center;



    }


    #survey_overview_total_comments_table td{
        border-color: #32cbff;
        /*    font-size: medium;*/
        color: #000;
        height: 80px;
        line-height: 65px;
        text-shadow: none;
        width: 15%;
        text-align: center;

    }


    #survey_overview_total_survey_table td{
        border-color: #28a446;
        /*    font-size: medium;*/
        color: #000;
        height: 80px;
        line-height: 65px;
        width: 15%;

        text-shadow: none;

        text-align: center;

    }

    div img{
        height: 45px; 
        margin-bottom: 1%;
    }


    .survey_overview_device_location_div{

        font-size: medium;
        color: #d85c35;
        height: 60px;
        font-size: medium;
        color: #d85c35;
        display: inline;
        text-shadow: none;
        position: absolute;
        left: 15px;
        top:0;
        line-height: 60px;

        text-shadow: none;



    }


    .survey_overview_device_location_div img{
        height: 45px;
        margin-left: 10px;

    }

    .survey_overview_comments_table th{
        background-color: #d85c35;
        border-color:  #d85c35;
        text-shadow: none;
        color:#fff;

    }

    .survey_overview_comments_table td{
        /*    background-color: #d85c35;
            border-color:  #d85c35;*/
        text-shadow: none;
        vertical-align: middle;
        /*    color:#fff;*/

    }

    .survey_overview_comments_table td:nth-child(4),.survey_overview_comments_table td:nth-child(3),.survey_overview_comments_table td:nth-child(1){
        width: 20%;
        -ms-word-break: break-all;

        /* Be VERY careful with this, breaks normal words wh_erever */
        word-break: break-all;

        /* Non standard for webkit */
        word-break: break-word;

        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }

    .survey_overview_comments_table td:nth-child(2){
        width: 40%;
        -ms-word-break: break-all;

        /* Be VERY careful with this, breaks normal words wh_erever */
        word-break: break-all;

        /* Non standard for webkit */
        word-break: break-word;

        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;

    }

    .survey_overview_comments_table{
        margin-top: 60px;
    }


}



@media (min-width: 320px) and (max-width: 600px){

    /*    body {
         font-size: 8px;
     }
    */
    .col-md-12,.col-sm-12,.col-sm-10, .col-md-10{
        padding-left: 5px;
        padding-right: 5px;
    }
    .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
        padding:4px;
    }
    .navbar-nav>li>a{
        line-height: 10px;
    }
    .navbar-nav{
        margin:1.5px -15px;
    }
    .nav>li>a{
        padding:10px 0px;
    }
    #homepage>div>ul.nav{
        display: inline-block;
    }
    #page_header span{
        color: #d85c35;
        font-weight: bolder;
        font-size: 11px;

    }
    span.glyphicon.glyphicon-log-out{
        padding-left: 5px;
        font-size: 11px;
    }
    #page_header{
        color: #d85c35;
        font-size: 11px;
        height: 30px;
        line-height: 20px;
        display:inline-block;
    }


    #retention_overview_termination_table th{
        background-color: #d85c35;
        border: #ddd solid 1px;   
        color:  #fff;
        text-align: center;
        text-shadow: none;


    }

    #retention_overview_termination_table tr:nth-child(2) th:nth-child(5){
        border-right-color: #d85c35; 
    }

    #retention_overview_termination_table tr:nth-child(2) th:nth-child(1){
        border-left-color: #d85c35; 
    }

    #retention_overview_termination_table tr:nth-child(1) th{
        border-color: #d85c35;
        border-bottom: #ddd solid 1px;
        text-align: left;
        font-size: 10px;
    }

    #retention_overview_termination_table td{
        border-color: #d85c35;
        vertical-align: middle;
        text-align: center;
        text-shadow: none;
        color: #000;
        width: 15%;

    }
    .table{
        margin-bottom: 10px;
        font-size: 6px;
    }
    .table>thead>tr>th{
        border-bottom: 1px solid #ddd;
    }
    #retention_overview_termination_table td:nth-child(1){
        width: 30%;
    }
    #retention_overview_traffic_table th{
        background-color: #d85c35;
        border-left: #fff 1px solid;
        text-align: center;
        color:  #fff;
        text-shadow: none;
    }

    #retention_overview_traffic_table td{
        border-left: #fff 1px solid;
        vertical-align: middle;
        width: 15%;
        text-shadow: none;
        text-align: center;
        color: #000;



    }

    #retention_overview_traffic_table tr:nth-child(1) th{
        background-color: #d85c35;
        border-left: #fff 1px solid;
        text-align: left;
        color:  #fff;
        font-weight: bold;
        font-size: 10px;
    }


    #retention_overview_action_table th{
        background-color: #d85c35;
        border-left: #fff 1px solid;
        text-align: left;
        color:  #fff;
        text-shadow: none;

    }

    .bolder-text{
        font-weight: bold;
        font-size: 10px;
    }

    #retention_overview_traffic_table tr:nth-child(even){
        background-color: #F4CEC3;
    }

    #retention_overview_action_table tr:nth-child(even){
        background-color: #F4CEC3;
    }

    #retention_overview_action_table td:nth-child(1) img, #retention_overview_traffic_table td:nth-child(1) img{
        width: 10px;
        height: 10px;
    }

    #retention_overview_traffic_table td:nth-child(1),#retention_overview_action_table td:nth-child(1){
        border-left: none;
        text-align: center;
        width: 7%;
    }

    #retention_overview_traffic_table td:nth-child(2),#retention_overview_action_table td:nth-child(2){
        width: 23%;
        text-align: left;

    }





    #retention_overview_action_table td{
        border-left: #fff 1px solid;
        vertical-align: middle;
        width: 15%;
        text-shadow: none;
        text-align: center;
        color: #000;


    }



    #survey_overview_assistance_table td,#survey_overview_satisfaction_table td{
        text-shadow: none;
        text-align: center;

        border-color: #d85c35;
        line-height: 20px;

    }

    #survey_overview_assistance_table td:nth-child(1),#survey_overview_satisfaction_table td:nth-child(1){

        text-align: center;
        width: 6%;
        padding: 2px 1px;
    }


    #survey_overview_assistance_table td:nth-child(2),#survey_overview_satisfaction_table td:nth-child(2){
        text-align: left;

        width: 24%;

    }

    #survey_overview_assistance_table td,#survey_overview_satisfaction_table td{

        width: 15%;

    }

    #survey_overview_assistance_table td img,#survey_overview_satisfaction_table td img{

        height: 11px;   

    }





    #survey_overview_assistance_table th,#survey_overview_satisfaction_table th,#survey_overview_notes_table th{

        background-color: #d85c35;
        border-color: #d85c35;
        color:  #fff;
        text-align: center;
        text-shadow: none;
        font-size: 10px;
    }

    #survey_overview_notes_table td{

        border-color: #d85c35;
        font-size: medium;
        color: #000;
        text-shadow: none;

    }

    /*#survey_overview_total_assistance_table tr:nth-child(1) td:nth-child(1){
        color: #ef402f;
        line-height: 30px;
    }*/

    #survey_overview_total_assistance_table td:nth-child(1){
        color: #ef402f;
        width: 30%;
        text-align: left;
        font-weight: 700;
    }

    #survey_overview_total_comments_table td:nth-child(1){
        color:#32cbff;
        width: 30%;
        text-align: left;
        font-weight: 700;


    }


    #survey_overview_total_survey_table td:nth-child(1){
        color: #28a446;
        width: 30%;
        text-align: left;
        font-weight: 700;

    }




    /*#survey_overview_total_assistance_table td:nth-child(2){
        width: 35%; 
        background-color: #ef402f;
    }
    
    #survey_overview_total_comments_table td:nth-child(2){
        width: 35%; 
        background-color:#32cbff;
    
    }
    
    
    #survey_overview_total_survey_table td:nth-child(2){
        width: 35%; 
        background-color: #28a446;
    }*/

    #survey_overview_total_assistance_table td{
        border-color: #ef402f;
        /*    font-size: medium;*/
        color: #000;
        height: 40px;
        line-height: 32px;
        text-shadow: none;
        width: 15%;
        text-align: center;



    }


    #survey_overview_total_comments_table td{
        border-color: #32cbff;
        /*    font-size: medium;*/
        color: #000;
        height: 40px;
        line-height: 32px;
        text-shadow: none;
        width: 15%;
        text-align: center;

    }


    #survey_overview_total_survey_table td{
        border-color: #28a446;
        /*    font-size: medium;*/
        color: #000;
        height: 40px;
        line-height: 32px;
        width: 15%;

        text-shadow: none;

        text-align: center;

    }

    div img{
        height: 20px; 
        margin-bottom: 1%;
    }


    .survey_overview_device_location_div{

        font-size: medium;
        color: #d85c35;
        height: 20px;
        font-size: 7px;
        color: #d85c35;
        display: inline;
        text-shadow: none;
        padding-left:1px;
        line-height: 20px;

        text-shadow: none;



    }


    .survey_overview_device_location_div img{
        height: 20px;
        margin-left: 5px;

    }

    .survey_overview_comments_table th{
        background-color: #d85c35;
        border-color:  #d85c35;
        text-shadow: none;
        color:#fff;

    }

    .survey_overview_comments_table td{
        /*    background-color: #d85c35;
            border-color:  #d85c35;*/
        text-shadow: none;
        vertical-align: middle;
        /*    color:#fff;*/

    }

    .survey_overview_comments_table td:nth-child(4),.survey_overview_comments_table td:nth-child(3),.survey_overview_comments_table td:nth-child(1){
        width: 20%;
        -ms-word-break: break-all;

        /* Be VERY careful with this, breaks normal words wh_erever */
        word-break: break-all;

        /* Non standard for webkit */
        word-break: break-word;

        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }

    .survey_overview_comments_table td:nth-child(2){
        width: 40%;
        -ms-word-break: break-all;

        /* Be VERY careful with this, breaks normal words wh_erever */
        word-break: break-all;

        /* Non standard for webkit */
        word-break: break-word;

        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;

    }

    .survey_overview_comments_table{
        margin-top: 0px;
        margin-bottom:10px;
    }
}