

body{
	background:#f8f8f8;
	width:100%;
	
}
#navbar{
	height:65px;
	width:100%;
	display:inline;
	border-bottom: 1px solid #bdbdbd;

}
.navbar-default{
	border:none;
}
 .navigation{
	padding-left:25px;
	padding-right:25px;
} 

.right{
	margin-right:0px !important;
}


#main-content{
	width:100%;
	height:638px;
	margin-top:65px;
	padding:0px;
	padding-left:25px;
}


#logo {
  position: absolute;
  left:30px;
  width: 85px;
  top:20px;
  height: 25px;
  z-index: 81;
  border:none;
  display:inline;
  background-size:100%;
}
#search{
	font-size: 12px;
  font-family: "Open Sans";
  color: #adadad;
  text-transform: uppercase;
  padding-top: 25px;
  z-index: 82;
  margin-right:45px;
  height:62px;
}

#page{
  font-size: 12px;
  font-family: "Open Sans";
  color: #adadad; 
  text-transform: uppercase;
  padding-top: 25px;
  z-index: 82;
  margin-right:40px;
  height:62px;
}

#notification{
	font-size: 12px;
  font-family: "Open Sans";
  color: #adadad;
  text-transform: uppercase;
  padding-top: 25px;
  z-index: 82;
  margin-right:8px;
  height:62px;
}

#logged-in-name{
	font-size: 12px;
  font-family: "Open Sans";
  color: #adadad;
  text-transform: uppercase;
  margin-top: 25px;
  z-index: 82;
  margin-right:15px;
}
#notification-icon{
  display:inline;
  width: 6px;
  height: 6px;
  background-size:100%;
  margin-top:28px;
  margin-right:35px;
	
}

#search-icon{
  display:inline;
  width: 18px;
  height: 18px;
  background-size:100%;
  margin-top:23px;
  margin-right:12px;
	
}


#location {
  font-size: 12px;
  font-family: "Open Sans";
  color: #adadad;
  text-transform: uppercase;
  text-align: left;
  position: absolute;
  left: 175px;
  top: 25px;
  z-index: 82;
  display:inline;
}

#logged-in-picture{
  display:inline;
  width: 45px;
  height: 45px;
  background-size:100%;
  margin-top:10px;
  margin-right:5px;
}

.active-page{
	  border-bottom:2px solid #78b7fc; 
	  color:#78b7fc !important;
	
}

@media all and (max-width: 768px) {
	
#search{
display:none;	
}
#logged-in-name{
	display:none;
}
#page{
	margin-left:30px;
}
}