/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 29, 2014, 1:26:48 PM
    Author     : rana.kh-jeffery
*/
.month-progress-bar-dark-grey {
	background-color: #4D4D4D;
	width: 0;
	height: 33px;
	left: 0;
	z-index: -1;
}

.month-progress-bar-black {
	/*    background-color: #4D4D4D ; */
	background: url('PROGRESSBAR_TEXTURE_4_132.png');
	background-repeat: repeat-x;
	width: 0;
	height: 33px;
	left: 0;
	z-index: -1;
}

.main-light-grey-background-progress-bars {
	background-color: #E5E4E2;
	width: 0;
	height: 40px;
	z-index: -2;
}

.week-progress-bar-light-orange {
	background-color: #F7931E;
	width: 0;
	height: 24px;
	bottom: 0;
	z-index: 0;
	margin-top: -7%;
}

.week-progress-bar-dark-orange {
	width: 0;
	height: 20px;
	bottom: 0;
	z-index: 0;
	margin-top: -6%;
}

.week-progress-bar-single-yellow {
	background-color: #FBD73B;
	width: 0;
	height: 32px;
	bottom: 0;
	z-index: 0;
	margin-top: -6%;
}

.week-progress-bar-neutral-green {
	background-color: #99CA3C;
	width: 0;
	height: 32px;
	bottom: 0;
	z-index: 0;
	margin-top: -6%;
}