body {
	text-shadow: none;
	background-color: white;
	-webkit-user-select: none;
}

#corporate_location_drop_down {
	max-height: 200px;
	overflow: auto;
}

html.ui-mobile {
	background-color: white;
}

.navbar-title-header {
	text-shadow: none;
	font-size: 15pt;
	color: #ffffff;
	display: inline-block;
	margin-left: 20%;
	margin-top: 2%;
	font-family:sans-serif;
	
}

.corporate-header-club-name,.header-club-name {
	display: inline-block;
	color: white;
	background: #4d4d4d;
	outline: none;
	border: none;
	max-width: 150px;
	font-family:sans-serif;
	font-size: 1em;
	font-weight:400;
	text-shadow: none;
    
}

.header-user-name {
	text-shadow: none;
	color: white;
	display: inline;
	font-weight:400;
	font-size: 1em;
	font-family:sans-serif;
	max-width:130px;
	text-shadow: none;		
	
} 

#ajaxSpinnerContainer {
	height: 11px;
	margin-left: 48%;
	margin-top: 20%;
	z-index: 10;
	position: absolute;
}

#ajaxSpinnerImage {
	display: none;
}

.top-fixed-grey-nav-bar {
	background-color: #4D4D4D;
	border: none;
	width: 100%;
	padding: 0;
	margin: 0;
}

.navbar-user-name-field {
	margin-top: 2%;
}

.nav_action_icon {
	padding-top: 4%;
}

.navbar-collapse>ul>li>a:focus {
	background: #4D4D4D;
}

.navbar-collapse>ul>li>a:hover {
	background: #4D4D4D;
}

.navbar-collapse>ul>li>a:active {
	background: #4D4D4D;
}

.navbar_date_time_field {
	color: white !important;
	text-shadow: none;
	font-weight:400;
	font-size: 1em;
	font-family:sans-serif;
}

.side-nav-pills {
	background-color: #4D4D4D;
	height: 768px;
	margin: 0;
	padding: 0;
}

.side-nav-pills ul {
	vertical-align: middle;
	height: 75%;
	margin: 0;
	padding: 0;
}

.nav-pills>li {
	text-align: center;
	height: 92px;
	width: 100%;
	padding: 0;
	margin: 0;
}

.nav-pills>li.active>a {
	background-color: #99CA3C;
}

.nav-pills>li>a {
	text-align: center;
	padding: 0;
	margin: 0;
	height: 100%;;
}

.nav-pills>li>a>img {
	text-align: center;
	padding: 0;
}

.nav-pills>li.active>a:active,.nav-pills>li.active>a:focus,.nav-pills>li.active>a:hover
	{
	background-color: #99CA3C;
}

.nav-pills>li>a:focus,.nav-pills>li>a:hover {
	background-color: #4d4d4d;
	color: #4d4d4d;
	margin: 0;
}

.nav-pills>li.active>a:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 12px 11px 12px 0;
	border-color: transparent white;
	display: block;
	width: 0;
	z-index: 1;
	margin-left: 92%;
	top: 34px;
}

.reunify-logo {
	align:center;
}

.nav-pills>li+li {
	margin-left: 0;
}

.nav-pills>li>a.reunify-logo:active {
	background-color: #4d4d4d;
}

.nav-pills>li>a.reunify-logo:focus {
	background-color: #4d4d4d;
}

.nav-pills>li>a.reunify-logo:hover {
	background-color: #4d4d4d;
	color: #99CA3C;
}

.back-button {
	text-align: center;
	color: white;
	font-size: 22px;
	font-weight: lighter;
	border: none;
	outline: none;
	width: 30px;
	height:30px;
}

.inner-main-div {
	height: 800px;
	padding: 0;
}

#version {
	color: #fff;
	font-size: 11px;
	text-align: center;
	
}