/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 13, 2014, 4:11:32 PM
    Author     : rana.kh-jeffery
*/


.today-goal-table{
    border: 1px #ddd solid;

}
.today-goal-table td{

    height: 96px;
}
.sm-gray-bold{
    text-align: left;
    font-size: 12pt;
    font-weight: bold;
    display: block;
    color: #4d4d4d;
}


.pulse-btn-homepage{
    width: 100%;
}

.pulse-btn-homepage button{
    border-color: white;
    width: 100%;
    height: 50px;
}


.pulse-btn-homepage-big button:active, .pulse-btn-homepage-big button:focus, .pulse-btn-homepage-big button:hover{
    border-color: white;

}

.pulse-btn-homepage button:active, .pulse-btn-homepage button:focus, .pulse-btn-homepage button:hover{
    border-color: white;

}

.pulse-btn-homepage button:nth-child(1), .pulse-btn-homepage-big button:nth-child(1){
    -webkit-border-top-left-radius: 10px !important;
    -webkit-border-top-right-radius: 10px !important;
    -moz-border-top-right-radius: 10px !important;

    -moz-border-top-left-radius: 10px !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;

}

.pulse-btn-homepage button:nth-child(2), .pulse-btn-homepage-big button:nth-child(2){
    -webkit-border-bottom-left-radius: 10px !important;
    -webkit-border-bottom-right-radius: 10px !important;
    -moz-border-bottom-right-radius: 10px !important;

    -moz-border-bottom-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    line-height: 30px;
}

.vert-colored-div button{
    border-color: white;
    text-align: left;
}

.vert-colored-div button:focus,.vert-colored-div button:active, .vert-colored-div button:hover{
    border-color: white;


}

.vert-colored-div button:nth-child(1){
    -webkit-border-top-left-radius: 10px !important;
    -webkit-border-top-right-radius: 10px !important;
    -moz-border-top-right-radius: 10px !important;

    -moz-border-top-left-radius: 10px !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;

    height: 100px;

}
.vert-colored-div button:nth-child(2){
    height: 80px;

}
.vert-colored-div button:nth-child(3){
    -webkit-border-bottom-left-radius: 10px !important;
    -webkit-border-bottom-right-radius: 10px !important;
    -moz-border-bottom-right-radius: 10px !important;

    -moz-border-bottom-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    height: 90px;
}

.btn-homedata-disabled{
    margin-top: -2%;
    margin-bottom: -17%;
    text-align: center;
    /*    height:196px;*/
    width: 90%;
    /*    background-color: #4d4d4d;
        border: solid #4d4d4d 1px;*/
    color: #4d4d4d;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;

}

.current-club-pulse-data{
    margin-top: -3%;
    margin-left: 0.6%;
}

.table-up-arrow{
    background: url(images/table-up-arrow.png) no-repeat top left;
    display: inline-block;
    display: inline;
    height: 12px;
    width: 12px;
    zoom: 1;

}

.big-number{
    height: 40px;
    font-size: 30pt;
    color: white;
    font-weight: bolder;
    display: inline-block;
}


.big-number-grey{
    /*    margin-top: 15%;*/
    /*    height: 65px;*/
    text-align: center;
    font-size: 36pt;
    color: #4d4d4d;
    font-weight: bolder;
    /*    display: inline-block;*/
}
.number-desc{
    text-align: center;
    font-size: 12pt;
    color: white;
    display: block;
}

.number-desc-left{
    text-align: left;
    font-size: 11pt;
    color: white;
    font-weight: bold;
    display: block;
}

.number-desc-right{
    text-align: right;
    font-size: 11pt;
    color: white;
    display: block;
}

.number-desc-today-survey{
    text-align: center;
    font-size: 10pt;
    font-weight: bolder;
    line-height: 10px;
    display: block;
    color: #4d4d4d;

}

.number-desc-month-survey{
    text-align: center;
    font-size: 10pt;
    font-weight: bolder;
    line-height: 10px;
    display: block;
    margin-top: 3%;
    color: #4d4d4d;


}

#last-month-name,#this-month-name{
    width: 39.8px;
    text-align: center;
    font-size: 10pt;
    font-weight: bolder;
    line-height: 10px;
    display: block;
}

.btn-homedata {
    height: 95px;
    width: 100%;
    background: #4d4d4d;
    /*    background-image: -webkit-linear-gradient(top, #828282, #383738);
        background-image: -moz-linear-gradient(top, #828282, #383738);
        background-image: -ms-linear-gradient(top, #828282, #383738);
        background-image: -o-linear-gradient(top, #828282, #383738);
        background-image: linear-gradient(to bottom, #828282, #383738);*/
    -webkit-box-shadow: 0px 1px 4px #4d4d4d;
    -moz-box-shadow: 0px 1px 4px #4d4d4d;
    box-shadow: 0px 1px 4px #4d4d4d;
    /*    border: solid #a3a1a3 1px;*/
    color: #ffffff;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
}

.btn-homedata:hover {
    color: #ffffff;
    background: #4d4d4d;
    /*    background-image: -webkit-linear-gradient(top, #4d4d4d, #4d4d4d);
        background-image: -moz-linear-gradient(top, #4d4d4d, #4d4d4d);
        background-image: -ms-linear-gradient(top, #4d4d4d, #4d4d4d);
        background-image: -o-linear-gradient(top, #4d4d4d, #4d4d4d);
        background-image: linear-gradient(to bottom, #4d4d4d, #4d4d4d);*/
    text-decoration: none;
}





span{
    display: block;
}

.btn-home-title{
    line-height: 40px;
    /*    background-color: #999;*/
    color: #4d4d4d;
    width: 180px;
    height:40px;
    font-size: 15px;
    text-align: left;
    margin-left: 10%;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}


.btn-home-title-attrition{
    line-height: 40px;
    /*    background-color: #999;*/
    color: #4d4d4d;
    /*    width: 172px;*/
    width: 222px;

    height:40px;
    font-size: 15px;
    text-align: left;
    margin-left: 10%;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important; 


}

/*#homepage_interception_good_to_go{
    background-color: #27b24a;

}

#homepage_interception_need_follow_up{
    background-color: #f9ae04;

}

#homepage_interception_need_attention{
    background-color: #f03224;

}*/


.btn-activity-data-home-page{
    /*    background-color: #4d4d4d;*/
    /*     width: 90px;*/
    line-height: 40px;
    height: 40px;
    color: #4d4d4d;
    /*    padding: 14.25px;*/
    font-size: 15px;
    text-align: center;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}



.btn-activity-data-survey-home-page{
    /*    background-color: #4d4d4d;*/
    /*     width: 90px;*/
    line-height: 20px;
    height: 40px;
    color: #4d4d4d;
    margin-top: 15%;
    margin-bottom: -28%;
    font-size: 15px;
    text-align: center;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.data-table th{
    height: 53px;
    color: #4d4d4d;
}


.data-table{
        margin-top: -2.5%;
    /*    border-color: #4d4d4d;
        background-color: #fafafa;*/
}

.table .table-col-data-today{
    margin-left: -10%;
}


.table-bordered>thead>tr>th, 
.table-bordered>tbody>tr>th, 
.table-bordered>tfoot>tr>th, 
.table-bordered>thead>tr>td

{
    /*    border-top: none; */
    border-bottom: none;
}


/*  .survey_taken_table>tbody>tr>td{
        height: 20px;
    }*/



/*.table-bordered>thead>tr:nth-child(1)>td{
    border-top: none;
}*/



.members-progress-bars-member-satisfaction{
    margin-top: 2%;
}

#week-data-member-satisfaction, #week-data-staff-attitude, #week-data-club-cleanliness{
    margin-left: 10%;
}

#month-data-member-satisfaction, #month-data-staff-attitude, #month-data-club-cleanliness{
    margin-left: 26%;
    color: #4d4d4d;
}

#member-satisfaction-home-page-progress, #staff-attitude-home-page-progress, #club-cleanliness-home-page-progress{
    margin-top: 1%;
    /*    margin-bottom: 0.5%;*/

}

th{
    text-align: center;
}

/*#home-page-today-table-title{
    color: #4D4D4D;
    margin-left: 50%;
    display: inline-block;
}

#home-page-month-table-title{
    color: #4D4D4D;
    display: inline-block;
    margin-left: 20%

}*/


.lifetime-loggedin-member-name{
    text-shadow: none;

    font-size: 12pt;
    /*    font-weight: lighter;*/
    color: white;
    bottom: 0;
}

.club-overview-title-homepage{
    font-size: 14pt;
    color: #4D4D4D;
    font-weight: bolder;
    margin-bottom: 2%;    
    margin-top: 4%;
}


.action-center-title-homepage{
    font-size: 14pt;
    color: #4D4D4D;
    font-weight: bolder;
    margin-bottom: 2%;    
    margin-top: 4%;

}

.my-performace-title-text{
    font-size: 14pt;
    font-weight: bolder;
    color: #4D4D4D;
    margin-bottom: 2.5%;
    margin-top: -0.5%;
    margin-left:9.5%;
}

.my-goals-title-text{
    font-size: 14pt;
    font-weight: bolder;
    color: #4D4D4D;
    margin-bottom: 2%;
    margin-top: 4%;
    /*    margin-left:6%;*/
}
