#memperPulse-top-row{
	height:75px;
	margin:0px;
	width:100%;

}
.left-third{
	margin:0px;
	padding:0px;
	padding-right:25px;
}
#filter-parent{
	padding:0px;
	float:right;
	padding-right:10px
}
#walking-icon-time{
	display:inline;
	margin:0px;
	padding:0px;
	padding-top:30px;
}
#walking-icon{
  display:inline;
  width: 10px;
  height: 16px;

}
#walking-icon-container{
	display:inline;
    margin-left:9px;
    margin-right:12px;
}
#last-swipe-time{
  display:inline;
  font-size: 14px;
  font-family: "Open Sans";
  color: #878787; 
  text-transform: uppercase;
  margin-left:0px;
  vertical-align:text-top;
}
#filter-container{
	border:3px solid #ededed;
	border-radius:25px;
	padding:0px;
	margin-top:28px;
	height:30px;
	width:100%
}
#filter{
	float:left;
	display:inline;
  	font-size: 14px;
 	font-family: "Open Sans";
 	color: #878787; 
 	padding-left:7px;
	padding-top:5px;
	}
.notification-icon-filter 
{
	display:inline;
	float:right;
	padding-top:5px;
	margin-right:7px;
	

}
#green-notification{

	width:10px;
	height:10px;
	}
#yellow-notification{

	width:10px;
	height:10px;
	}
#red-notification{

	width:10px;
	height:10px;
	margin-right:5px
	}
.right-third{
	float:right;
	padding-top:30px;
	padding-right:0px;
	margin-right:25px;
}
#memberPulse-intercept-today{
	display:inline;
  	font-size: 16px;
 	font-family: "Open Sans";
 	color: #878787; 
 	margin-right:20px;
 	float:right;
	
}

#memberPulse-queue{
	display:inline;
  	font-size: 16px;
 	font-family: "Open Sans";
 	color: #878787; 
 	margin-right:8px;
 	float:right;
}	
#memberPulse-intercept-today-number{
	color:#7abafe;
	float:right;
}

#memberPulse-queue-number{
	color:#7abafe;
	float:right;
}
	
#second-row-memberpulse{
	margin:0px;
	width:100%;
	padding-right:25px;
}
	
 #right-side-content{
	float:right;
	height:590px;
	border:2px dashed #d8d8d8;
	border-radius:10px;
	padding:0px;
	padding-right:25px;
	
} 
#member-cards-holder{
	overflow:scroll;
	padding:0px;
	padding-right:25px;
	height:590px;
}

.member-card{
	width:100%;
	height:100px;
	background-color:white;
	border:1px solid #d8d8d8;
	border-radius:10px;
	margin-bottom:10px;
	
}
#member-card-picture{
	width:30%;
	padding:0px;
	padding-top:15px;
	padding-left:15px;
}
#member-card-info{
	width:70%;
	padding:0px;
	padding-left:10px
}

#member-picture{
	position:absolute;
	margin:auto;
	border:3px solid #49b216;

	border-radius: 100%;

}
#picture{
	margin:auto;
	height:60px;
	width:60px;
	border-radius:100%;
	padding:2px;
	padding-bottom:0px;
}
#walking-icon-member-card-container{
	display:inline;
	width:8px;
}
#walking-icon-member-card{
	display:inline;
  	width: 8px;
  	height: 16px;
  	float:right;
  	margin-right:8px
}
#swiped-in-past-minutes{
	display:inline;
	margin:0px;
	padding:0px;
}
#swipe-in-minutes{
	width:15px;
	float:right;
	margin-right:30px;
	padding:0px;
	display:inline;
  	font-size: 9px;
 	font-family: "Open Sans";
 	color: #949494; 
 	padding-top:4px
}
#member-card-first-row{
	height:35px;
	margin:0px;
	padding-top:17px;
}
#member-card-second-row{
	height:30px;
	margin:0px;
	padding-top:13px;
  	font-size: 12px;
 	font-family: "Open Sans";
 	color: #949494; 
}
#member-card-third-row{
	height:35px;
	margin:0px;
	padding-bottom:11px;
}
#member-card-name{
	padding:0px;
	display:inline;
  	font-size: 14px;
 	font-family: "Open Sans";
 	color: #2a2a2a; 
}
#birthday-icon{
	height:23px;
	width:20px;
	margin-right:10px
}
#star-icon{
	height:16px;
	width:16px;
}
@media all and (max-width: 768px) {
	
.right-third{
	width:45%;
	padding-left:0px
}
.left-third{
	width:50%;
	margin-left:-10px;
}
#member-cards-holder{
	width:50%;
	margin-left:-10px;
	height:850px;
}
#right-side-content{
	width:50%;
	height:850px;
}
}