.memberpulsepage_button_bar {
	margin-top: 2%;
	padding-bottom: 10px;
}



#memberpulsepage_member_table td{
	border-bottom: 1px solid #b2b2b2;
	height: 45px;
	line-height: 30px;
}

#memberpulsepage_member_tables{
	border: 1px solid #4d4d4d;
}

#memberpulsepage_member_table th,.table>thead:first-child>tr:first-child>th {
	border-right: 1px solid white;
	background-color: #4D4D4D !important;
	color: white !important;
	text-shadow: none;
	text-align: center;
	font-weight: lighter;
	vertical-align: middle;
	line-height: 15px;
	font-size: 13px;
	padding-right:15px;
}

#memberpulsepage_member_table th:nth-child(11) {
	padding-right: 5px;
}



#memberpulsepage_member_table td {
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
}

.memberpulsepage_button_bar_table {
	width: 100%;
}

.memberpulsepage_button_bar_table td {
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}

.memberpulsepage_button_bar_table .btn-group>.btn.active
	{
	z-index: 2;
	background-color: #99CA3C !important;
	color: #4D4D4D;
}

#memberpulsepage_member_table_processing {
	background: transparent;
	border: none;
	position: absolute;

	width: 10px;
} 

.new-members-alert{
	
	margin-left:37%;
	width:30%;
	margin-top:2px;
	margin-bottom:1%;
	margin-right:30%;
	padding:0px;
	height:5%;
	text-align:center;
	padding-top:1%;
}