#searchpage_member_table td {
	border-bottom: 1px solid #b2b2b2;
	height: 45px;
	line-height: 30px;
}
#searchpage_member_table{
	border: 1px solid #4d4d4d;
}
#searchpage_member_table th,.table>thead:first-child>tr:first-child>th {
	border-right: 1px solid white;
	background-color: #4D4D4D !important;
	color: white !important;
	padding-right:15px;
	text-shadow: none;
	text-align: center;
	font-weight: lighter;
	vertical-align: middle;
	line-height: 15px;
	font-size: 12px;
	
}

#searchpage_member_table th:nth-child(3),#searchpage_member_table th:nth-child(6)
	{
	width: 10%;
}

#searchpage_member_table th:nth-child(7){
	width:12%;
}

#searchpage_member_table th:nth-child(9){
	width:8%;
}

#searchpage_member_table th:nth-child(4),#searchpage_member_table th:nth-child(5)
	{
	width: 15%;
}

#searchpage_member_table td {
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
}

#searchpage_member_table th:nth-child(1),#searchpage_member_table th:nth-child(2),#searchpage_member_table th:nth-child(8)
	{
	width: 5%;
}

#searchpage_member_table th:nth-child(10),#searchpage_member_table th:nth-child(11),#searchpage_member_table th:nth-child(12)
	{
	width: 5%;
}

#search_page_go_button:active,#search_page_clear_button:active {
	background-color: #99CA3C !important;
}

.search_page_input_field {
	border-bottom: #b3b3b3 1px solid;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border-top: none;
	border-left: none;
	border-right: none;
	font-size: medium
}

#search_page_input_field_3 {
	width: 140px;
}

#searchpage_member_table_processing {
	background: transparent;
	border: none;
}

.search_page_input_field:focus,.search_page_input_field:active {
	border-bottom: #99CA3C 1px solid;
}

.search_page_input_field:focus::-webkit-input-placeholder {
	/* WebKit browsers */
	color: #99CA3C;
}

.search_page_input_field:focus:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #99CA3C;
}

.search_page_input_field:focus::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #99CA3C;
}

.search_page_input_field:focus:-ms-input-placeholder {
	/* Internet Explorer 10+ */
	color: #99CA3C;
}

.search_page_search_bar {
	margin-top: 2.5%;
}

.search_page_search_bar .btn-group>.btn.active,.floorpage_filter_bar_table .btn-group>.btn.active
	{
	z-index: 2;
	background-color: #99CA3C !important;
	color: #4D4D4D;
}