.floorpage_filter_bar_table td {
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}

.floorpage_filter_bar_table .btn-group>.btn.active {
	z-index: 2;
	background-color: #99CA3C !important;
	color: #4D4D4D;
}

.floorpage_filter_bar {
	position: absolute !important;
	margin-top: 2%;
	margin-left: 3%;
	width: 100%;
}

.floorpage_filter_bar td {
	padding-right: 20px;
}

.top-layer {
	margin-top: -2%;
}

#floorpage_count_table>tbody>tr>td {
	font-size: 15px;
}

#floorpage_count {
	position: absolute !important;
	margin-left: 3%;
	margin-top: 11%;
}

#floorpage_count th {
	height: 30px;
	color: #FFF;
	text-shadow: none;
	   border-top:none;
	border-right: #FFF;
	font-weight: lighter;
	background-color:#4d4d4d;
	text-align: center;
	font-size: 14pt;
	font-weight: lighter;
}

#floorpage_count td {
	/*    text-align: center;*/
	font-size: 12pt;
	vertical-align: middle;
	padding: 0;
}

#floorpage_filter_bar_timestamp {
	width: 200px;
	height: 35px;
	/*     margin-left: -30px; 
 */
	background-color: #98C93C;
	color: white;
	text-shadow: none;
	padding: 8px 10px 5px 10px;
	font-size: 15px;
}

#floorpage_filter_bar_total_swipes {
	width: 240px;
	height: 35px;
	margin-left: 308px;
	background-color: #98C93C;
	color: white;
	text-shadow: none;
	padding: 8px 10px 5px 10px;
	font-size: 15px;
}

.btn-floor-div {
	vertical-align: middle;
	height: 60px;
}

.btn-floor {
	margin-top: 12%;
}

#floorpage_count_floor_1_table td:nth-child(3),#floorpage_count_floor_2_table td:nth-child(3)
	{
	font-weight: bold;
}

#floorpage_count_floor_1_table th:nth-child(1) {
	width: 30%;
}

#floorpage_count_floor_1_table th:nth-child(2) {
	width: 50%;
}

#floorpage_count_floor_1_table th:nth-child(3) {
	width: 20%;
}

#floorpage_count_floor_1_table td:nth-child(1) {
	width: 30%;
}

#floorpage_count_floor_1_table td:nth-child(2) {
	width: 50%;
}

#floorpage_count_floor_1_table td:nth-child(3) {
	width: 20%;
}

#floorpage_count_floor_2_table th:nth-child(1) {
	width: 30%;
}

#floorpage_count_floor_2_table th:nth-child(2) {
	width: 50%;
}

#floorpage_count_floor_2_table th:nth-child(3) {
	width: 20%;
}

#floorpage_count_floor_2_table td:nth-child(1) {
	width: 30%;
}

#floorpage_count_floor_2_table td:nth-child(2) {
	width: 50%;
}

#floorpage_count_floor_2_table td:nth-child(3) {
	width: 20%;
}

.sharp-edge {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}