.main-div {
	max-width: 500px;
	padding: 45px 35px 45px;
	margin: 0 auto;
	background: transparent;
	border: none;
	text-align: center;
	font-size: 40px;
	color: #99CA3C;
}

.main-div h1 {
	font-size: 40px;
}

.error {
        color: red; font-weight: bold;
}