html {
	background: #fff;
}

body {
	padding: 0;
	background: transparent;
}

.wrapper {
	margin-top: 80px;
	margin-bottom: 80px;
}

#main_content {
	max-width: 600px;
	padding: 100px 35px 100px;
	margin: 0 auto;
	border: #4d4d4d solid 1px;
	text-align: center;
	font-size: 30px;
	color: #99CA3C;
	background: transparent;
}